<div class="media stream-item" itemscope itemtype="http://schema.org/Event">
  <div class="media-body">

    <h3 class="article-title mb-0 mt-0" itemprop="name">
      <a href="{{ .RelPermalink }}" itemprop="url">{{ .Title }}</a>
    </h3>

    {{ $summary := "" }}
    {{ if .Params.abstract_short }}
      {{ $summary = .Params.abstract_short | markdownify }}
    {{ else if .Params.abstract }}
      {{ $summary = .Params.abstract | markdownify }}
    {{ else if .Truncated }}
      {{ $summary = .Summary }}
    {{ end }}
    {{ with $summary }}
    <div class="article-style" itemprop="articleBody">
      {{ . | truncate 135 }}
    </div>
    {{ end }}

    <div class="stream-meta article-metadata">
      <div>
        {{ $date := .Params.time_start | default .Date }}
        {{ (time $date).Format $.Site.Params.date_format }}
        {{ if $.Site.Params.talks.time }}
          {{ (time $date).Format ($.Site.Params.time_format | default "3:04 PM") }}
          {{ with .Params.time_end }}
            &mdash; {{ (time .).Format ($.Site.Params.time_format | default "3:04 PM") }}
          {{ end }}
        {{ end }}

        {{ if .Params.event }}
          <span class="middot-divider"></span> {{ .Params.event | markdownify }}
          {{ with .Params.event_form }}
            <span class="middot-divider"></span>
            <a href="{{ . }}" target="_blank" rel="noopener" style="color:#3f51b5"><strong>Join us here!</strong></a>
          {{ end }}
        {{ else if .Params.event_short }}
          <span class="middot-divider"></span> {{ .Params.event_short | markdownify }}
        {{ end }}
      </div>
      <div itemprop="author">
        {{ with .Params.authors }}
        {{- delimit . ", " | markdownify -}}
        {{- end -}}
      </div>
    </div>

    <div class="btn-links">
      {{ partial "page_links" (dict "content" . "is_list" 1) }}
    </div>

  </div>
  <div class="ml-3">
    {{ $resource := (.Resources.ByType "image").GetMatch "*featured*" }}
    {{ with $resource }}
    {{ $image := .Resize "150x" }}
    <a href="{{ $.RelPermalink }}">
      <img src="{{ $image.RelPermalink }}" itemprop="image">
    </a>
    {{end}}
  </div>
</div>
{{ if .Params.event_form }}
<div class="media stream-item" itemscope="" itemtype="http://schema.org/Event">
  <div class="media-body">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=250&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=coding.club.uc3m%40gmail.com&amp;color=%23125A12&amp;ctz=Europe%2FMadrid&amp;hl=en" style="border-width:0;width:100%;height:250px" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
{{ end }}
